@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body.modal-blur > *:not([data-portal]) {
  filter: blur(5px);
  transition: filter 0.3s ease;
}